.main {
  padding-top: 100px;
  &__container {
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    @media (max-width: 1390px) {
      flex-wrap: wrap;
    }
  }
  &__col {
    min-width: 0;
    &:first-child {
      @media (max-width: 1390px) {
        order: 2;
        padding-right: 10px;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    &:last-child {
      @media (max-width: 1390px) {
        order: 3;
        padding-left: 10px;
      }
      @media (max-width: 767px) {
        padding: 0 30px;
      }
    }
    &:first-child,
    &:last-child {
      flex: 1 0 300px;
      @media (max-width: 1390px) {
        flex: 1 0 50%;
        margin-top: 30px;
      }
    }
  }
  &__sale {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 52px 30px;
    border-radius: 2px;
    border: 2px solid $orange;
    background-color: #ffffff;
    height: 100%;
    img {
      max-width: 70px;
      margin-bottom: 18px;
      @media (max-width: 767px) {
        margin-bottom: 26px;
      }
      @media (max-width: 520px) {
        margin-bottom: 20px;
      }
    }
    p {
      font-size: 18px;
      color: #121212;
      font-weight: 300;
      @media (max-width: 767px) {
        font-size: 25px;
      }
      @media (max-width: 520px) {
        font-size: 20px;
      }
    }
    div {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 15px;
      @media (max-width: 767px) {
        font-size: 50px;
        margin-bottom: 35px;
      }
      @media (max-width: 520px) {
        font-size: 38px;
        margin-bottom: 20px;
      }
    }
    a {
      display: inline-flex;
      align-items: center;
      &:hover svg {
        transform: translateX(5px);
      }
      span {
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        color: $orange;
      }
      svg {
        width: 15px;
        height: 15px;
        color: $orange;
        padding-left: 10px;
        transition: .15s ease-in;
        @media (max-width: 767px) {
          margin-left: 5px;
          width: 18px;
          height: 18px;
        }
      }
    }
    @media (max-width: 767px) {
      padding: 83px 0 68px 60px;
    }
    @media (max-width: 520px) {
      padding: 60px 0 60px 30px;
    }
  }
}

.offers-main {
  padding: 33px 0 18px;
  background-color: #ffffff;
  &__title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 28px;
    padding-left: 27px;
    color: $orange;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(#bababa, .25);
    padding: 0 21px 10px 27px;
    &:last-child {
      padding: 0 21px 0px 27px;
      margin-bottom: 0;
      border: 0;
    }
    svg {
      width: 15px;
      height: 15px;
      color: rgba(#303030, .4);
    }
  }
  &__link {
    display: block;
    width: 100%;
  }
}

.brands {
  background-color: $white;
  padding: 0 84px 15px 0;
  margin: 30px 0 174px;
  @media (max-width: 1390px) {
    margin: 30px 0 150px;
  }
  @media (max-width: 767px) {
    margin: 30px 0 100px;
  }
  @media (max-width: 620px) {
    margin: 30px 0 80px;
  }
  @media (max-width: 520px) {
    margin: 30px 0 50px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1390px) {
      flex-wrap: wrap;
    }
    @media (max-width: 767px) {
      background-color: $white;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101px;
    position: relative;
    &:first-child:before {
      display: none;
    }
    &:before {
      content: '';
      position: absolute;
      left: -58px;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 71px;
      background-color: #e7e6e6;
      @media (max-width: 1390px) {
        left: 0;
      }
      @media (max-width: 767px) {
        height: 119px;
      }
      @media (max-width: 520px) {
        display: none;
      }
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      @media (max-width: 1390px) {
        border-bottom: 1px solid #e8e7e7;
      }
    }
    &:nth-child(3):before,
    &:nth-child(5):before {
      @media (max-width: 767px) {
        display: none;
      }
    }
    &:nth-child(4) {
      @media (max-width: 767px) {
        border-bottom: 1px solid #e8e7e7;
      }
    }
    @media (max-width: 1390px) {
      flex: 0 0 33.333333%;
    }
    @media (max-width: 767px) {
      flex: 0 0 50%;
      height: 169px;
    }
    @media (max-width: 520px) {
      flex: 0 0 100%;
      height: 100px;
      border-bottom: 1px solid #e8e7e7;
    }
    &:last-child {
      @media (max-width: 520px) {
        border-bottom: 0;
      }
    }
  }
  &__link {
    color: #232323;
    font-size: 18px;
  }
  @media (max-width: 1390px) {
    padding: 0;
  }
  @media (max-width: 767px) {
    background-color: transparent;
    padding: 0 30px;
  }
}

.main-slider {
  margin: 0 20px;
  height: 100%;
  @media (max-width: 1390px) {
    margin: 0;
  }
  &__slide {
    background-color: #232323;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 59px 82px 0px 68px;
    @media (max-width: 1390px) {
      padding: 59px 82px 59px 68px;
    }
    @media (max-width: 767px) {
      padding: 62px 37px 107px 33px;
    }
    @media (max-width: 620px) {
      padding: 40px 25px 90px;
    }
  }
  &__label {
    color: $gray;
    margin-bottom: 73px;
    @media (max-width: 767px) {
      font-size: 25px;
      margin-bottom: 45px;
    }
  }
  &__title {
    max-width: 430px;
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 20px;
    color: #f3f1f1;
    @media (max-width: 620px) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    color: $white;
    margin-bottom: 65px;
    @media (max-width: 767px) {
      margin-bottom: 37px;
      font-size: 25px;
    }
    @media (max-width: 620px) {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 30px;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 35px;
    border-radius: 18px;
    background-color: $orange;
    color: $white;
    transition: .2s linear;
    &:hover {
      transform: scale(1.1);
    }
    @media (max-width: 767px) {
      width: 213px;
      height: 53px;
      font-size: 30px;
      border-radius: 27px;
      background-color: $orange;
    }
    @media (max-width: 620px) {
      width: 180px;
      height: 48px;
      border-radius: 20px;
      font-size: 24px;
    }
  }
  &__image {
    @media (max-width: 767px) {
      width: 274px;
      height: 387px;
    }
    @media (max-width: 620px) {
      width: 228px;
      height: 300px;
    }
    @media (max-width: 520px) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__pagination {
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: #232323;
      z-index: 3;
      opacity: 1;
      border-radius: 50%;
      border: 1.5px solid $white;
      &-active {
        border-color: #232323;
        background-color: $white;
      }
      @media (max-width: 767px) {
        width: 16px;
        height: 16px;
      }
    }
  }
  .swiper-button {
    &-next {
      right: 38px;
      bottom: 40px;
      top: auto;
    }
    &-prev {
      right: auto;
      bottom: 40px;
      top: auto;
      left: 38px;
    }
    &-next,
    &-prev {
      color: $white;
      &:after {
        display: none;
      }
    }
  }
  &__button {
    width: 12px;
    height: 26px;
    position: absolute;
    bottom: 40px;
    z-index: 10;
    transition: .2s linear;
    svg path {
      stroke: rgba(#FFFFFF, .3);
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.swiper-container-horizontal {
  > .swiper-pagination-bullets {
    bottom: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    .swiper-pagination-bullet {
      margin: 0 5px;
      @media (max-width: 767px) {
        margin: 0 10px;
      }
    }
    @media (max-width: 767px) {
      bottom: 44px;
    }
  }
}
