$height: 35px;

.select {
  width: auto;
  position: relative;
  z-index: 2;
  color: $gray;
  &.open {
    .select__dropdown {
      display: block;
    }
    .select__backdrop {
      display: block;
    }
  }

  &__input {
    height: $height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px 0 17px;
    cursor: pointer;
    span {
      padding-right: 10px;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: $height;
    left: 0;
    max-height: 380px;
    background-color: #fff;
    overflow-y: auto;
    padding: 17px 36px 41px 14px;
    border: 1px solid #e8e7e7;
    background-color: #f1f1f1;
  }

  &__backdrop {
    position: fixed;
    display: none;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
  }

  &__item {
    padding: 5px 0;
    color: #343434;
    &.selected {
      color: $green;
    }
    &:hover {
      color: $green;
      cursor: pointer;
      transition: 0.2s linear;
    }
  }
  &__placeholder {
    color: $gray;
    margin-bottom: 30px;
  }
}